.todo-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: .5rem;
}

.todo-item-text input {
    cursor: pointer;
}

.todo-item-text label {
    margin-left: 0.25rem;
}

.todo-item-text label.completed {
    text-decoration: line-through;
}

.todo-item-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.todo-btn {
    cursor: pointer;
}

.edit-todo-wrapper {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: .1rem;
    margin-bottom: .5rem;
    padding: 1rem;
}

.edit-todo-wrapper label {
    margin-right: .5rem;
}

.close-btn {
    cursor: pointer;
}
